form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

form input {
  margin-bottom: 15px;
}

form span {
  margin-right: 10px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.table {
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.table th, .table td {
  border-bottom: 0.5px solid #ddd;
  padding: 8px;
}

.table tr:hover {
  background-color: #ffffff2c;
}